extends ./layout/app

block contenido 
    
    section(class="py-5")
        h2(class="text-4xl my-10 font-extrabold text-center")= pagina

        if paciente.length 
            div(class="grid grid-cols-1 lg:grid-cols-3 gap-5 mt-14")
                each pacientes in paciente 
                    include ./templates/card
        else 
            p(class="text-center text-gray-800 text-sm py-10") No Hay Resultado            
